/* 
https://www.cdnfonts.com/gotham.font 
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;
                                                
*/
body{
	font-family: 'Gotham', sans-serif;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 18px;
	color: #fff;
}
.section0-home{
	min-height: 90vh;
	background-color: #111111;
	background-image: url('../img/site_bg.png');
	background-size: cover;
}
a{
	color: #fff;
}
.h2,
h2 {
	font-size: 24px;
	font-family: 'Gotham', sans-serif;
	font-weight: bold;
}
.h1, h1{
	font-weight:bold;
}
.navbar{
	padding-top: 40px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	font-size: 20px;
	padding: 0px 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #DB1F29;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
	color: #DB1F29;
}
.navbar-brand img{
	width: 300px;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
	background: transparent !important;
}
.section1-home {
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 18px;
}
.redpages-logo-vert {
	width: 100%;
	max-width: 230px;
}
.wrap-logovert-intro {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section2-home {
	height: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 20px;
}
.benjhome {
	width: 100%;
	max-width: 360px;
}
.benjhome-space{
	background-color: #111111;
		height: 15vh;
}
.benjhomepersinfo p{
	padding-left: 40px;
}
.section2-home{
	background-color: #111111;
	padding-bottom: 80px;
}
.Services {
	background: #161616;
}
.Services section {
	min-height:100%;
	position: relative;
	z-index: 9;
	padding-bottom: 40px;
}
.Services section h1 {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	line-height: 28px;
	color: #D9121E;
}
.servicesbg1 {
	height: 100vh;
	width: 100%;
	background-image: url('/img/servicesbg1.png');
	position: absolute;
	right: 0px;
	top: 120px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right 20%;
}
.servbgclass{

	background-image: url('/img/servicesbg1.png');
}
.Services section.sect2{
	background-color: #8B080F;
	width: 100%;
	min-height: 0px;
	padding-top: 80px;
}
.Services section.sect1{
	padding-bottom: 80px;
}
.innersect-img {
	width: 100%;
	max-width: 560px;
	margin: 40px auto 0px;
}
h2{
	color:#0F0F0F;
}
.Services section.cloud-sect {
	background-color: #0f0f0f;
	min-height: 0vh;
	width: 100%;
	display: flex;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-top: 80px;
		padding-bottom: 80px;
}
.redtext{
	color: #D9121E;
}
.benjhome {
	padding-top: 80px;
}
.arrows{
	width: 100%;
	height: 180px;
	background-image: url('/img/arrows.png');
	background-size: contain;
}
.logoblack {
	filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: block;
}
.train-bespoke-space{
	width: 100%;
	height: 40px;
	display: block;
}
.train-bespoke.pt-5 {
	background: #151515;
}
.digi-auto-aug{
	background: #8B080F;
	background-image: url('/img/dg-aug.png');
	background-position: right center;
	background-size: 100%;
}
.digi-auto-aug .container {
	flex-direction: row;
	display: flex;
}
.Contact {
	min-height: 90vh;
	background-color: #111111;
	background-image: url('../img/site_bg.png');
	background-size: cover;
}
.contact-details.col-lg-4.col-md-4.col-sm-12.col-12.d-flex.align-items-start {
	flex-direction: column;
}
.contact-details h2 {
	color: #fff;
}
.contact-details h3 {
	font-size: 42px;
}
.form-group.row label {
	width: 100%;
}
.form-select {
	padding-top: 20px;
	border-radius: 0px;
	border: 0px;
}
.form-control{
	padding-top: 30px;
}
#fullname, #projecttype, #email, #message {
	padding-top: 8px;
	padding-bottom: 0px;
	border-radius: 0px;
}
#submit {
	background: #db1f29;
	width: 100%;
	padding-top: 20px;
	border-radius: 0px;
	color: #fff;
}
.form-label {
	margin-bottom: 0;
	margin-top: 10px;
}
.contact-details p a{
	font-size: 16px;
}
.contact-details.col-lg-4.col-md-9.col-sm-12.col-12.d-flex.align-items-start{
	flex-direction: column;
}
.wrap-logovert-intro {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 50px;
}
.Contact form{
	margin-bottom: 50px;
}
.actionbtns a {
	background: #db1f29;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 15px 20px;
	width: 90%;
	display: block;
	line-height: 20px;
	font-weight: bold;
}
@media(max-width:1400px) {
/* .Services section {
	min-height: 100vh;
	position: relative;
	z-index: 9;
} */
.servicesbg1 {
	top: 260px;
}
}
@media(max-width:1200px) {
	/* .Services section {
			min-height: 120vh;
			position: relative;
			z-index: 9;
		} */
.servicesbg1 {
	top: 300px;
}
}
@media(max-width:1080px) {
/* #sect2-block{
	min-width: 100% !important;
} */
.servicesbg1 {
	top: 340px;
}
.arrows {
	background-repeat: no-repeat;
}

}
@media(max-width:991px){
.Contact .section1-home {
		min-height: 100vh;
		height: auto;
	}
	.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus-visible, .navbar-toggler:focus, 
	.navbar-toggler:visited, .navbar-toggler:focus {
	border: 0px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	transition: var(--bs-navbar-toggler-transition);
}
.benjhomepersinfo p{
	padding-left: 0px;
	font-size: 18px;
}
.logo-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
/*	padding-top: 30px;*/
}
.nav-item {
	width: 100%;
}
body p {
	font-size: 18px;
}
#navbarTogglerDemo01 li {
	/* background: rgba(0,0,0,0.3); */
	padding: 20px;
}
.section2-home{
	height: auto;
}
.servicesbg1 {
	top: 230px;
	background-size: 45%;
}
.arrows {
	height: 120px;
}
}

@media(max-width:768px){
	.redpages-logo-vert {
			width: 100%;
			max-width: 150px;
		}
				.contact-details h3 {
					font-size: 42px;
					margin-top: 40px;
				}
	.train-bespoke.pt-5 {
			padding-top: 0px !important;
		}
.benjhomepersinfowrap {
	flex-direction: column;
}
.benjhomepersinfo{
	padding-top: 30px;
	padding-left: 0px;
	padding-bottom: 30px;
}
.redpages-logo-vert {
	width: 100%;
}
.wrap-logovert-intro .col-lg-3.col-md-3.col-sm-3.col-xs-12.d-flex.align-items-center {
	align-items: start !important;
	min-height: 470px;
}
.servicesbg1 {
	top: 50px;
	width: 100%;
	position: relative;
	margin: auto auto 40px;
	height: 220px;
	background-size: contain;
	background-position: center;
}
.arrows {
	height: 120px;
}
}
@media(max-width:574px){
	.Services section {
			min-height: auto;
			padding: 0px 30px;
		}
				.Services section.sect1 {
					padding-bottom: 40px;
				}
.section1-home {
		height: auto;
}
body p {
	font-size: 15px;
}
.wrap-logovert-intro {
	align-items: start;
	padding-top: 40px;
}
.redpages-logo-vert {
	margin-top: 20px;
}
.navbar-brand img {
	width: 275px;
}
.Services section.sect2 {
	padding-bottom: 80px;
}
.train-bespoke.pt-5 .train-bespoke-space {
	display: none;
}
.logoblack.mt-3 {
	margin: 80px auto !important;
}
.bespoke{
	padding-top: 20px;
}
.Contact .redpages-logo-vert {
	margin-top: 0px;
}
.Contact .section1-home {
	padding: 0px 30px;
}
}
