<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="logo-menu">
          <a class="navbar-brand" href="#">
            <span>
            <img src="/img/redpages-logo.png"><br/>
            <img src="/img/solutions-eng.png">
        </span>
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mb-2 mb-lg-0 col-lg-10 justify-content-center align-items-center">
        <li class="nav-item home">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item services">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item services">
          <a class="nav-link" href="https://asiwaju.africa/redpages/">Blog</a>
        </li>
      </ul>
       <ul class="navbar-nav mb-2 mb-lg-0 col-lg-2 justify-content-end align-items-center" id="contact-menu">
        <li class="nav-item contact">
          <a class="nav-link" href="/contact" tabindex="-1">Contact</a>
        </li>
        </ul>
    </div>
  </div>
</nav>
