<div class="container section1-home">
    <div class="row wrap-logovert-intro">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3 d-flex align-items-center">
            <img class="redpages-logo-vert" src="/img/redpages-logo-vert.png" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-9 pt-3 pb-3">
            <p>We work with clients to create sustainable growth by identifying gaps between customer needs and your
                offerings. We develop bridging products and services aimed at delivering a holistic customer experience.
            </p>
            <p>Our comprehensive architecture assessment examines the current state of your business, enabling us to
                identify digital capabilities necessary to strategically guide you towards a successful transformation
                aligned with your business objectives. Trust us to tackle your digital transformation challenges,
                optimizing enterprise and IT architecture for efficient delivery and business success.</p>
        <div class="d-flex">
            <div class="col-lg-8 col-12 actionbtns"><p><a href="/services">View what we have to offer</a></p></div>
            <div class="col-lg-4 col-12 actionbtns"><p><a href="/contact">Let's chat</a></p></div>
        </div>
        </div>
    </div>
</div>
